.box{
    width: 400px;
    height: 400px;
}
.button{
    border-radius: 5px;
    background-color: #023047;
    color: white;
    height: 45px;
}
.home-img img{
    width: 650px;
}
@media (max-width: 1100px) { 
    .home-img img{
        width: 550px;
    }
 }
@media (max-width: 930px) { 
    .home-img img{
        width: 450px;
    }
 }
@media (max-width: 768px) { 
    .home-img {
      display: none;
    }
 }